
<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="DynamicTree.js"></script>
  </head>
  <body>
    <div ng-controller="TreeCtrl">
      <label>Lean:</label>
      <input type="number" ng-model="treeVars.initialAngle">
      <label>Length:</label>
      <input type="number" ng-model="treeVars.length">
      <label>Width:</label>
      <input type="number" ng-model="treeVars.width">
      <label>LeftAlpha:</label>
      <input type="float" ng-model="treeVars.leftAlpha">
      <label>RightAlpha:</label>
      <input type="float" ng-model="treeVars.rightAlpha">
      <label>LeftAngle:</label>
      <input type="number" ng-model="treeVars.leftAngle">
      <label>RightAngle:</label>
      <input type="number" ng-model="treeVars.rightAngle">
      <label>Level:</label>
      <input type="number" ng-model="treeVars.level">
      <form ng-submit="makeTree()">
        	<input class="btn-primary" type="submit" style="float:left" value="DrawTree">
      </form>	
	  <form ng-submit="clearTree()">
        	<input class="btn-primary" type="submit" value="ClearTree">
      </form>
      <hr>
      <p>leftWidthFactor = {{leftWidthFactor}}, rightWidthFactor = {{rightWidthFactor}}</p>
      <p>leftLenghtFactor = {{leftLenghtFactor}}, rightLengthFactor = {{rightLengthFactor}}</p>
	  <canvas id="canvas" width="1200" height="1800"></canvas>
    </div>
  </body>
</html>