html {
  background-color: lightgrey;
  background: linear-gradient(grey, lightgrey);
  padding-bottom: 5%;
}

h1 {
	text-align: center; 
	margin-bottom: 0;
}

canvas {
	position: absolute;
	top: 0px;
	left: 200px;
	width: 1100px;
	height: 900px;
	margin: 8px;
	display: inline;
	right: 0px;
}

#slider-tool-bar {
	width: 200px; 
	float:left;
}
